[2018-07-08 21:06] Ali-Razmjoo opened #1 "apply internet control on containers"
Hi,

Having access to the internet could be dangerous, so based user configuration in modules category (e.g. [ssh config](https://github.com/zdresearch/OWASP-Honeypot/blob/master/lib/modules/ssh/__init__.py), [ftp config](https://github.com/zdresearch/OWASP-Honeypot/blob/master/lib/modules/ftp/__init__.py), [http config](https://github.com/zdresearch/OWASP-Honeypot/blob/master/lib/modules/http/__i

[2018-07-09 14:28] Ali-Razmjoo opened #2 "internal network is not accessible"
Hi,

after adding the enhancement #1, if the user sets `"virtual_machine_internet_access": False` in module category configurations, the IP and Port is not accessible for the host, so port forwarding is not working, for now, I force internet access for all of the virtual machines and must [fix later](https://github.com/zdresearch/OWASP-Honeypot/blob/master/core/load.py#L269)!

[code]

the network

[2018-07-09 14:30] #1 closed

[2018-07-09 14:30] Ali-Razmjoo commented on #1
Feature added, but having a bug, please check the #2 for the details.

[2018-07-09 18:46] Ali-Razmjoo commented on #2
Hi,

creating the network with `--attachable` worked, but it does not work on windows (didn't test on mac).

Regards.

[2018-07-09 18:46] #2 closed

[2019-02-03 11:44] dhirensr opened #3 "Improve Documentation"
Hello,
for installation wiki I would like to improve the docs saying that for ubuntu : "sudo apt-get install tshark
" and other instructions instead of just specifying install tshark .
I would like to improve docs and would send a pull requests once you reply,because i dont know if someone is already working on it.

[2019-02-04 12:52] dhirensr opened #4 "Mongodb required for local installation?"
in the wiki docs I saw nowhere in the installation tab about mongodb installation,and when you locally install the other packages and run "python ohp.py" it gives you an error after the logo saying that cannot connect to mongodb.
If Mongodb is required it should be mentioned in the installation ! I would like to change the docs once @Ali-Razmjoo  replies for further clarification!

Please review t

[2019-02-07 14:54] Ali-Razmjoo commented on #3
Hi,

thanks for your feedback, I will update wiki in a few days... please let me know if any more changes/adds required.

thanks.

[2019-02-07 14:54] Ali-Razmjoo commented on #4
Hi again,

thanks for your feedback on the wiki, I will try to clear things up in next weekend.

regards.

[2019-02-07 18:55] dhirensr commented on #3
@Ali-Razmjoo  : thanks for replying! i had also sent an email to you regarding gsoc 2019 contribution! I want to contribute to OWASP/Honeypot for GSOC 2019 so what do i do next to understand the codebase better?

[2019-02-13 17:57] dhirensr opened #6 "python3 ohp.py fails in some docker image"
OS : Ubuntu 18.04
Type : Virtual Machine
Steps to reproduce: python3 ohp.py --verbose

It shows :
[code]

@Ali-Razmjoo  : please reply about this ,because i am not able to configure honeypot on my local machine due to this ,no events are getting registered in db.

[2019-02-13 18:26] Ali-Razmjoo commented on #6
Hi,

it's because you are running the agent on your machine and the machine already is using port 22 for your own ssh server!

you should stop ssh server on your machine or change `real_machine_port_number` in the config file. https://github.com/zdresearch/OWASP-Honeypot/blob/master/lib/modules/ssh/__init__.py#L16

please let me know if you have more questions.

Regards.

[2019-02-14 14:02] dhirensr commented on #6
Hello,
Thank you for the quick reply that worked ! however i get this error
[code]
and i fixed it just by removing the split and now it works fine.
I don't know if this is the correct fix or could you explain what we need there?
Because i am getting a list of just 1 ip and it does not makes sense to split it.
@Ali-Razmjoo : waiting for your reply.

[2019-02-14 15:05] Ali-Razmjoo commented on #6
it returns this error ONLY if you don't change the port and your container has not an IP address.

in case of error:
[code]

otherwise:
[code]

if you are still getting an error, please copy the whole printed stuff on your terminal/cmd.

thanks.

[2019-02-14 16:09] dhirensr commented on #6
Yes the output given by you is right! so here my output of
[code]

output :
[code]

@Ali-Razmjoo : so the split[0] fails when the list is empty,and then it's not checked as a condition.

[2019-02-14 21:03] dhirensr opened #7 "Top network ip by country"
@Ali-Razmjoo  : i saw that this project needs this api ,and if no one is working i would like to work on it.
The idea is group by country and then for all distinct countries return 1 ip right?
or should it take country as parameter and then calculate top 10 ips of that country?
Waiting for the reply.

[2019-02-16 07:50] tulja commented on #4
@dhirensr MongoDB is installation is required for ohp.py.And it needs to separately run alongside the ohp.py. Since, in the core/load.py (in check_for_requirements()) tries to connect to MongoDB via pymongo client.
You can refer to [this](https://www.digitalocean.com/community/tutorials/how-to-install-mongodb-on-ubuntu-16-04) for installation and setup on Ubuntu 16.04.

[2019-02-16 08:52] dhirensr commented on #4
@tulja  : i have configured it already on my local machine! the docs of the project does not mention this thats what the question was! please read the last line for the ticket ,i have mentioned that it should be there in the wiki!
thanks for the reply!

[2019-02-17 11:34] Ali-Razmjoo commented on #7
Hi,

thanks for your feedback, we also don't have it in honeypot events, right?

just to clarify sort will be like:

* honeypot->country->top_ips
* network->country->top_ips

no one currently working on this, just keep in mind if you want to provide this feature you must support `limit` and `skip` . the next step after that would be the same function by adding the date support.

* honeypot->countr

[2019-02-17 11:42] Ali-Razmjoo commented on #4
I've already added that you need to install MongoDB, but since our users may use a different OS than Ubuntu, I am not sure if I should share specific URL for that.

https://github.com/zdresearch/OWASP-Honeypot/wiki/Installation

@tulja @dhirensr  thanks for your feedbacks 👍  looking forward to hearing more from you

[2019-02-17 11:42] #4 closed

[2019-02-17 12:04] dhirensr commented on #7
@Ali-Razmjoo : I applied this sort for network events
network->country->top_ips
I am not sure how do i test it if this is giving right results? I just changed the sort of top_ten_ips_in_network_events
I am getting exactly the same results for both apis ,maybe the result is correct!
should i send a PR directly to review?

[2019-02-17 12:15] Ali-Razmjoo commented on #7
yes feel free to send your pr.

[2019-02-17 12:41] dhirensr commented on #7
@Ali-Razmjoo : https://github.com/zdresearch/OWASP-Honeypot/pull/9
please review

[2019-02-17 21:50] #6 closed

[2019-02-17 21:51] dhirensr commented on #6
fixed in  https://github.com/zdresearch/OWASP-Honeypot/pull/8

[2019-02-17 21:55] dhirensr opened #10 "Network events not getting registered in DB"
The problem is in this line :

https://github.com/zdresearch/OWASP-Honeypot/blob/cca5081bc828fed0ca195e36a07a97b127125e84/core/network.py#L105

the ip is getting splitted but the type(ip) is bytes and then ```shell netaddr.valid_ipv4(ip) ``` always fails because of that ,so in my local computer i just converted it by `ip=ip.decode('utf-8')` .
```shell netaddr.valid_ipv4(ip) ```  does not work when

[2019-02-17 21:56] Ali-Razmjoo commented on #10
@dhirensr thanks for the report, please send your PR.

[2019-02-20 13:41] dhirensr opened #15 "top honeypot_machine name and network_machine name route. Needed?"
Hello @Ali-Razmjoo again,
I saw that we also want 2 routes stating top network machine_name and  top honeypot machine_name,and the logic would be
honeypot/network_event -> count -> sortby count
but my question is when the machine name is getting inserted in database it is taking from
https://github.com/zdresearch/OWASP-Honeypot/blob/6e3b71cac9869c0b4c1a56e238210d0f951d1a0f/config.py#L49
and it is

[2019-02-21 21:11] Ali-Razmjoo commented on #15
for the first question yes, it's good to have those api and for the second part, this honeypot designed to use on multiple servers, for example one server with ip x1 in country y1 and ip x2 and country y2 both can connect to the same database in ip x3 and country y3, so we can define which request come from which machine.

I am planning to set it up on different regions in aws, and make a live ver

[2019-02-22 22:34] #10 closed

[2019-02-22 22:37] dhirensr commented on #3
@Ali-Razmjoo : we could add what are honeypot events in the wiki for context! because i didnt knew much about it ,then I found it interesting!
maybe this link : https://en.wikipedia.org/wiki/Honeypot_(computing)

[2019-02-23 15:45] #15 closed

[2019-02-24 15:38] dhirensr opened #20 "program title for cmd args"
Hello @Ali-Razmjoo ,
I noticed that the program title for command line is Nettacker which I believe is another project where it is taken from,
https://github.com/zdresearch/OWASP-Honeypot/blob/5935ba5356cad95a4e580d4c04901d83789de532/core/load.py#L470

shouldn't you change it to Honeypot?

[2019-02-24 16:07] Ali-Razmjoo commented on #20
yes, I used Nettacker pattern for this xD, well that's awkward, thanks for your report, will fix it up myself.

[2019-02-24 16:08] #20 closed

[2019-02-24 22:01] Ali-Razmjoo commented on #7
thank you. done

[2019-02-24 22:01] #7 closed

[2019-02-25 16:16] dhirensr opened #22 "Top honeypot/network events by country and date"
As discussed with Ali,
the logic of the route is
**
    honeypot->country->date->top_ips
    network->country->date->top_ips
**
just creating this ticket to commit my code against this ticket.

[2019-02-25 16:29] dhirensr opened #24 "Top honeypot/network events ports by country"
The logic of the route is

honeypot_events-> country-> top ports
network_events-> country-> top ports

[2019-02-26 21:42] dhirensr opened #26 "Regarding GSOC 2019"
@Ali-Razmjoo
I saw that OWASP is accepted as organisation and would like to apply for this repo.(https://www.owasp.org/index.php/GSoC2019_Ideas#OHP_.28OWASP_Honeypot.29)
but on the link expected results  and roadmap section is not given .
could you mention it here like what all features are expected in this project to develop,it would help me to make my proposal
Thank you.

[2019-02-27 09:18] Ali-Razmjoo commented on #26
Hi, thanks for contacting
please follow updated url https://www.owasp.org/index.php/GSoC2019_Ideas#OHP_.28OWASP_Honeypot.29
please let me know if you have any more questions.

[2019-02-27 09:19] Ali-Razmjoo commented on #22
thanks 👍

[2019-02-27 09:19] #22 closed

[2019-02-27 17:48] dhirensr commented on #26
@Ali-Razmjoo :
I have a few questions,
Q. is 1 student expected to solve all the points listed in the expected results?
Q . could you explain these problems with more context
1.API: update API sync to all features
2.WebUI: Demonstrate and add API on WebUI and Live version with all features
3.WebUI Special Reports: Track the attacks more creative and provide high risk IPs

Q.Database: Better databa

[2019-02-28 20:32] dhirensr commented on #24
@Ali-Razmjoo : should i also send for top ports by date also?
and also please reply on https://github.com/zdresearch/OWASP-Honeypot/issues/26 also

[2019-02-28 21:32] Ali-Razmjoo commented on #26
the number of students is not defined and no, there expected time working is like 8h per day (or maybe something else? you must read gsoc guidelines)

1- update api to create machines and honeypots and do all stuff (like managements?)
2- we have api, and simple index.html for webui to demonstrate the api, but it's not demonstrating all of our api and it's just 4-5 simple charts, I would like to de

[2019-02-28 21:50] dhirensr commented on #26
so now I get the ideas and so maybe from this you mean adding new Uri's and graphs based on the routes,like for example : maybe showing different graphs for different routes and stuff ,based on the URI.
Right?

and for this
Q.Database: Better database structure, faster and use queue
i will do some research and send you a mail soon,regarding what I found.
Also before making a proposal I would write

[2019-03-01 15:50] #3 closed

[2019-03-01 16:31] dhirensr opened #27 "REST conventions for web API"
Hello @Ali-Razmjoo ,
I was thinking that all of our api does not follow the REST conventions which are like the standard guidelines to be followed when designing the Web api's
for eg : in all of the api's we have ``` shell methods=["GET", "POST"] ``` but they should be just get ,as they are just reading the databases and giving the values
if they modify the database,for example store the username

[2019-03-03 06:47] tulja opened #28 "Regarding the replacement of tshark with python port sniffing"
Hello @Ali-Razmjoo, I came across **todo** in the core/network.py regarding the replacement of tshark with python port sniffing (e.g. https://www.binarytides.com/python-packet-sniffer-code-linux), I would like to work on it. Please let me know if I can work on it.

[2019-03-03 10:29] dhirensr commented on #28
@tulja @Ali-Razmjoo : i also saw that the link in the todo explicitly says that if we just follow this ,it could break things for Windows as this doesn't support Windows OS.
and there are also other options available like https://github.com/dugsong/pypcap
what do you'll think?

[2019-03-03 20:30] Ali-Razmjoo commented on #24
yes go ahead...

[2019-03-12 13:39] dhirensr commented on #24
@Ali-Razmjoo : https://github.com/zdresearch/OWASP-Honeypot/pull/29
And also i sent you a mail waiting for a reply there .

[2019-03-12 14:59] tulja commented on #28
The Socket creation is different for Windows and Linux, but we can add appropriate check for the platform using (https://stackoverflow.com/questions/110362/how-can-i-find-the-current-os-in-python) and perform neccessary packet filtering. I tested it on Windows 8.1 and Ubuntu 16.04, with few checks I'm able to run the same code for both Windows and Linux. If we use external packages (which internal

[2019-03-12 15:01] tulja commented on #28
The Socket creation is different for Windows and Linux, but we can add appropriate check for the platform using (https://stackoverflow.com/questions/110362/how-can-i-find-the-current-os-in-python) and perform neccessary packet filtering. I tested it on Windows 8.1 and Ubuntu 16.04, with few checks I'm able to run the same code for both Windows and Linux. If we use external packages (which internal

[2019-03-14 20:30] dhirensr opened #30 "Combine api calls with date and rename api calls"
@Ali-Razmjoo : hello again,
I saw that most of the api work is done from todo and also just 2 of them is left.
I would like to work on it ,what does combine api calls with date mean? could you clarify the logic of both ,combin api calls with data and rename api calls.
Also is rename api calls someway related to REST conventions? I have also created a ticket for that.

Waiting for your reply.

[2019-03-14 20:45] dhirensr opened #31 "store_network_captured_files flag used?"
Hello @Ali-Razmjoo ,
I just saw that there is a flag in network configuration  store_network_captured_files and it's set default to False,but I didn't see it being used anywhere in the codebase.
I don't know whether it's bug or the feature doesn't exists in the codebase.
Just wanted to know if it's a feature,what should it do ? so I can take up this task.

[2019-03-19 12:05] Ali-Razmjoo commented on #26
basically more data we can process, more we can do with them, so adding routes are part of it yes.

I've not any vision for reports now, but if we gather more data and packets, we can create many patterns to detect attacks and generate reports. currently we are not saving anything from request body but we will in future.

yes, I have tried to get sponsorship for project, to run it on a few servers

[2019-04-11 20:13] dhirensr commented on #31
@Ali-Razmjoo : waiting for your reply on some of the tickets and a PR

[2019-05-06 19:37] dhirensr commented on #26
@Ali-Razmjoo : Thank you for selecting me in GSOC.
btw I would like to ask where should further communication take place? via mail or here?
also want to discuss few things regarding technical implementation

[2019-05-06 22:51] #26 closed

[2019-05-07 11:40] dhirensr opened #32 "Update Wiki"
@Ali-Razmjoo : just creating this ticket so that we document everything on wiki ,like the new routes we added and merged.
this ticket would act as a reminder to update the wiki.

[2019-05-18 10:35] dhirensr opened #33 "Test all the modules"
Hello,
i would like to test all the modules ftp,ssh,ics,etc thoroughly to understand what they do and fix them if they have bugs.

[2019-05-28 10:19] #24 closed

[2019-06-01 12:55] #32 closed

[2019-06-21 13:29] Ali-Razmjoo opened #40 "printing not functioning on macos"
when I run `python ohp.py -m ssh/strong_password, honeypot is working without any output, tested on python3.7 osx. not even ohp logo is printing.

[2019-06-23 10:27] dhirensr opened #41 "add honeypot script in FTP module"
this would be a script in the container to log all malware,passwords,etc

[2019-06-23 10:28] dhirensr opened #42 "Honeypot script for HTTP module"
this would be a script in the container to log all passwords in http module

[2019-06-23 10:29] dhirensr opened #43 "Mongodb bulk insert"
@Ali-Razmjoo : i think we can go for bulk insert instead of creating a write call for each record ,maybe that would be faster implementation than what we have now.
We need to think on the strategy of bulk insert meaning on timely basis or on record basis(every 100 records?)

[2019-06-29 08:26] dhirensr commented on #30
fixed in https://github.com/zdresearch/OWASP-Honeypot/pull/37

[2019-06-29 08:26] #30 closed

[2019-06-29 08:27] dhirensr commented on #27
fixed in https://github.com/zdresearch/OWASP-Honeypot/pull/37

[2019-06-29 08:27] #27 closed

[2019-08-14 21:43] #43 closed

[2019-08-14 21:43] #42 closed

[2019-08-17 14:36] #41 closed

[2019-08-17 14:37] #33 closed

[2020-02-04 13:10] mzfr opened #51 "Typo in Usage Wiki page"
On [Usage](https://github.com/zdresearch/OWASP-Honeypot/wiki/Usage) page there is a typo in the very beginning, it's says `Nettacker` instead it should read `OWASP Honeypot`

[2020-02-04 13:52] dhirensr commented on #51
@mzfr : thank you for pointing out. I or @Ali-Razmjoo  will update in the documentation.
In the code it's already updated in this ticket https://github.com/zdresearch/OWASP-Honeypot/issues/20

[2020-02-04 14:10] Ali-Razmjoo commented on #51
thanks for the report, here is the consequence of copy and paste 👍

[2020-02-04 14:10] #51 closed

[2020-02-23 12:19] dhirensr commented on #40
@Ali-Razmjoo : let's close this ticket if the issue is fixed!

[2020-02-23 14:15] sagnik-chatterjee commented on #31
If this is not assigned , can i take up this issue ?

[2020-02-23 14:39] dhirensr commented on #31
@Ali-Razmjoo : please reply

[2020-02-23 15:00] #40 closed

[2020-02-23 15:09] Ali-Razmjoo commented on #31
This feature meant to be added later https://github.com/zdresearch/OWASP-Honeypot/wiki/Installation

* Network Packet Analyzer (Basic/ ~~Advance~~ )
* ~~Hacker Activity Monitor~~

Advanced packet analysis needed more information from the network, and process it real time was kind of hard, maybe we can add a new thread and do it passively and insert the data to the database?

which it drives us to

[2020-02-26 18:01] AlphaRoy14 opened #63 "Gateway IP of the docker printed in the top ten user and password section of the api server."
In the bottom of the page of the API server, where top 10 username and passwords are shown of the various modules, the IP of the docker gateway(eg 172.18.0.1) is printed instead of IP of source. Please let me know if this is an intended behavior or else I can work on it.

[2020-02-26 18:27] AlphaRoy14 opened #64 "Tshark displays destination IP and source Port."
The tshark command given [here](https://github.com/zdresearch/OWASP-Honeypot/blob/500cabd8cca54a1d743b3c3b0c4d0b919e5201be/core/network.py#L93) captures destination IP and source Port. Doesn't displaying IP of source and port of destination make more sense? I tried changing the command to `tshark -Y "ip.dst != xyz.xyz.xyz.xyz" -T fields -e ip.src -e tcp.dstport` but there's no difference  in outpu

[2020-02-26 20:20] Ali-Razmjoo commented on #64
potential awkward bug, I've to check and get back to you. thanks for reporting.

[2020-02-26 20:47] Ali-Razmjoo commented on #64
ok, I remember what I did there, so if you run tshark and look into requests, there are two kind, incoming and outgoing. instead oof capture incoming I am capturing outgooing which is not wrong, but it's not right too.

[code]

so outgoing and incoming has exact opposite src and dest. and I used hacky wrong way to split them...

[code]

also that comment meant to be for this issue and I totally fo

[2020-02-26 21:47] AlphaRoy14 commented on #64
I see! In the above case the incoming and outgoing ports are same. However, AFAIK the incoming port (client side) is chosen at random by the OS. Since we already have the code to parse ip and port, I think if we just change the command to view destination port `tshark -l -V -T fields -e ip.src -e tcp.dstport` the issue can be solved. If there's something that I'm missing please let me know!

[2020-02-26 22:12] Ali-Razmjoo opened #66 "killing python 2.7 threads issue"
seems it sometimes not working on py2.7 and it messes up the CI https://github.com/zdresearch/OWASP-Honeypot/blob/master/core/exit_helper.py#L31-L60

[2020-02-26 23:42] dhirensr commented on #66
@Ali-Razmjoo : I was thinking we should now remove support for python2 as it's officially not supported anymore

[2020-02-26 23:46] dhirensr commented on #63
@AlphaRoy14 :  Thanks for reporting the issue.
Ip addresses are logged inside the docker container and hence it's going in the database as IP of the docker gateway.
You can start seeing module file for SSH/strong_password (https://github.com/zdresearch/OWASP-Honeypot/blob/master/lib/modules/ssh/strong_password/files/ssh_listener.py#L19) and feel free to send a PR if you fix the issue

[2020-02-27 00:47] Ali-Razmjoo commented on #66
i used `terminable_thread`, hopefully that will work... didn't get any issue so far.

[2020-02-27 00:47] #66 closed

[2020-02-27 00:48] Ali-Razmjoo commented on #64
I did some changes in #65, hopefully is now much less confusing?

[2020-02-27 01:01] Ali-Razmjoo commented on #63
I think it's because of the test environment, if you do it with valid IP it will not have the same issue.

[code]
events are with my machine ip: 172.31.22.154
[code]

[2020-02-27 01:02] Ali-Razmjoo commented on #63
if that answer your question, feel free to close the issue, or let us know if you have any more questions.

[2020-02-27 01:03] Ali-Razmjoo commented on #28
if the performance is better, I'm in.

[2020-02-27 05:35] #63 closed

[2020-02-27 05:47] AlphaRoy14 commented on #64
Thanks! less confusing now.

[2020-02-27 09:15] #64 closed

[2020-02-27 15:25] Ali-Razmjoo opened #67 "log explorer"
It would be nice to have a log explorer in webui with search and export features.

[2020-02-27 15:27] Ali-Razmjoo opened #68 "verbose mode switch"
maybe show packets real-time submitting to database and more information in terminal...

[2020-02-27 18:19] AlphaRoy14 commented on #68
I can work on it.

[2020-02-27 18:37] Ali-Razmjoo commented on #68
Great, please go ahead

[2020-02-27 22:06] Ali-Razmjoo opened #69 "refactor and clean /api"
the files in /api are not clean at all and it's very hard to understand what are they doing... need a good refactor and a better in code docs, specially database_queries.py, server.py

[2020-02-27 22:16] dhirensr commented on #69
@Ali-Razmjoo : any suggestions for the same?
Because I see it's already seperated in database_queries and server.py is using the same.

[2020-02-28 00:03] Ali-Razmjoo commented on #69
no, didn't think it through yet... just looked messy at the first sight.

[2020-02-28 00:07] Ali-Razmjoo opened #70 "update wiki docs"
* add developers guideline
* add database/connection.py documents `credential_events, honeypot_events_data, honeypot_events, network_events`
* add module specific document (ics, http, etc)
....

[2020-02-29 18:05] sagnik-chatterjee commented on #31
hi i was not able to reproduce this ..

[2020-03-02 20:13] Ali-Razmjoo commented on #31
@sagnik-chatterjee what do you mean?

[2020-03-02 21:05] dhirensr commented on #70
@Ali-Razmjoo : I will update it by this weekend

[2020-03-03 08:34] #68 closed

[2020-03-16 03:51] amanjiofficial commented on #70
I would like to work on this issue if its still up @dhirensr @Ali-Razmjoo

[2020-03-16 13:56] Ali-Razmjoo commented on #70
I think @dhirensr is taking care of it, right?

[2020-03-16 18:34] dhirensr commented on #70
@amanjiofficial : I am working on it.

[2020-03-17 14:10] ChakshuGupta commented on #69
@Ali-Razmjoo I would like to take up this issue. How should I proceed with this? What kind of refactoring did you have in mind?

[2020-03-18 03:55] amanjiofficial commented on #67
Hey @Ali-Razmjoo @dhirensr I am working on this issue. For the export feature I think we can give option to create csv of the logs and export it. For the search option IP based, username based, password based search will be appropriate. Suggestions please @Ali-Razmjoo @dhirensr. Thank you

[2020-03-18 13:25] Ali-Razmjoo commented on #67
@amanjiofficial go ahead

[2020-03-18 13:26] Ali-Razmjoo commented on #69
just make it easier to understand... nothing in my mind.

[2020-03-18 13:27] Ali-Razmjoo commented on #69
maybe this helps https://github.com/zedr/clean-code-python

[2020-03-19 14:54] ChakshuGupta commented on #69
Thansk. I'll start on it.

[2020-03-27 21:11] dhirensr commented on #70
@Ali-Razmjoo : we can close this ticket as all the documentation mentioned is done!

[2020-03-28 14:59] Ali-Razmjoo commented on #70
thanks @dhirensr

[2020-03-28 14:59] #70 closed

[2020-03-31 14:23] amanjiofficial opened #77 "Adding API on Web UI"
We can create scope for using API endpoints [https://github.com/zdresearch/OWASP-Honeypot/wiki/API](url) on the separate views on front end Web UI. Suggestions please @Ali-Razmjoo @dhirensr

[2020-03-31 14:26] amanjiofficial opened #78 "Adding SMTP Module"
We can add smtp module by creating a smtp server with [https://pypi.org/project/aiosmtpd/](url) and creating event logs. Suggestions @dhirensr @Ali-Razmjoo

[2020-03-31 14:40] dhirensr commented on #77
@amanjiofficial : what do you mean here ? could you elaborate?
from what I understood is that, for each API it doesn't makes sense to create a sepearate a frontend I think.
there would be as many pages as the number of routes and 1 page for 1 route is too less I think.

[2020-03-31 14:41] dhirensr commented on #78
@amanjiofficial :  I was also planning to add this module this GSOC if I get selected. but I think it's fine for me if you want to add this,I could add some different module.
@Ali-Razmjoo : what do you think?

[2020-03-31 14:49] amanjiofficial commented on #77
I mean that we can create different type of reports by clubbing similar type of APIs so that the user can  export such reports and have better analysis of the data and also on web UI user can query data with date parameter for better and customized visualization of results.

[2020-04-10 10:33] amanjiofficial commented on #69
Is anybody still working on this? @ChakshuGupta @Ali-Razmjoo

[2020-04-10 17:27] ChakshuGupta commented on #69
@amanjiofficial I had started working on it. Busy with exams at the moment. Will start again afterwards.

[2020-06-04 00:16] dhirensr opened #92 "no file core.log in the core directory"
@Ali-Razmjoo :
During refactoring we noticed that there are references to the file core.log which is currently not present. (for eg: https://github.com/zdresearch/OWASP-Honeypot/blob/ae1156c524c3b6d23cfd1ecedf4e8736f9935bfe/core/alert.py#L139)
so I would need more details on it? is the file moved or should it be created and functions need to be written?

[2020-07-21 17:23] #69 closed

[2020-07-22 16:57] Ali-Razmjoo opened #106 "check for mongodb in startup"
I've noticed when I run api server, it use to check for mongodb if it's up, otherwise return error, but now it just exit!!

[code]

also what happened to logo? 😆

@ChakshuGupta @dhirensr please have a look and send a PR if you can.

[2020-07-22 17:17] Ali-Razmjoo opened #107 "bug in msg"
issue:

https://github.com/zdresearch/OWASP-Honeypot/blob/b0298144bbbafa81a3772c2b1c630d5e1541e55c/core/load.py#L362-L364
[code]
fix suggestion:
[code]

[2020-07-22 17:32] Ali-Razmjoo commented on #107
same bug: https://github.com/zdresearch/OWASP-Honeypot/blob/b0298144bbbafa81a3772c2b1c630d5e1541e55c/core/load.py#L374-L376

[2020-07-22 18:00] dhirensr commented on #106
@Ali-Razmjoo : I looked into this issue.
the error is here, that we are not raising the error and explicitly checking is_not_run_from_api and I think we should not check that in error function here(https://github.com/zdresearch/OWASP-Honeypot/blob/master/core/alert.py#L271) and would be the solution.
what do you think?

[2020-07-22 18:38] Ali-Razmjoo commented on #106
I think since `error()` usually come with an exist, we are safe to remove `if is_not_run_from_api()` because it gonna exit anyway right?

[2020-07-22 18:58] #107 closed

[2020-07-23 01:29] dhirensr commented on #106
@Ali-Razmjoo : yes it's gonna exit anway because sys.exit(1) is also called immediately.

[2020-07-23 21:32] #106 closed

[2020-08-06 21:36] Ali-Razmjoo opened #118 "bug in thread naming"
something seems off. can someone investigate?

[code]

[2020-08-06 22:25] #118 closed

[2020-08-07 13:47] #28 closed

[2020-08-07 13:47] #31 closed

[2020-08-07 13:56] Ali-Razmjoo opened #122 "organize .pcap files"
so we recently added the feature to store .pcap files in the `tmp` directory. time to organize them maybe?

- [x] add `--store-pcap` to CLI and merge it with the `config.py`
- [x] add github action test with `--store-pcap` flag
- [x] store files to somewhere like `files` or similar
- [x] submit the filename to database as stored_network_files or something similar
- [x] ability to explorerpcap thro

[2020-08-07 14:39] Ali-Razmjoo commented on #77
for first release we can cover #67 and #122 and then we decide for farther changes.

[2020-08-07 14:39] #77 closed

[2020-08-08 17:50] dhirensr opened #125 "OSCHMOD package not in requirements.txt"
when running python3 oh.py --test I got a package error for oschmod which is imported here (https://github.com/zdresearch/OWASP-Honeypot/blob/master/core/file_monitor.py#L5)
but I'm wondering is this my local machine problem because the same command is not failing in github actions , hence creating an issue for confirmation of the same.

[2020-08-08 21:33] ChakshuGupta commented on #125
This package is already there in the requirements.txt

[2020-08-08 21:39] dhirensr commented on #125
@ChakshuGupta  Thanks for the clarification. somehow missed it.

[2020-08-08 21:39] #125 closed

[2020-08-09 10:11] Ali-Razmjoo opened #127 "minimize time for modules"
it's good idea to check all modules dockerfiles if we can speed them up a little bit by not installing unnecessary packages. some of them take much time to be created.

[code]

[2020-08-09 10:48] Ali-Razmjoo commented on #127
I’m working on this myself.

[2020-08-10 09:47] #127 closed

[2020-08-10 10:34] dependabot-preview[bot] opened #131 "Dependabot can't evaluate your Python dependency files"
Dependabot can't evaluate your Python dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/zdresearch/update-logs/43145516).

[2020-08-10 11:12] #131 closed

[2020-08-10 12:25] #67 closed

[2020-08-10 12:26] #92 closed

[2020-08-15 20:08] Ali-Razmjoo commented on #78
bravo.

[2020-08-15 20:08] #78 closed

[2020-08-15 22:43] #122 closed

[2020-08-16 21:05] Ali-Razmjoo opened #151 "ssh/strong_password module has error"
[code]

[2020-08-16 21:15] #151 closed

[2020-08-20 16:16] dhirensr opened #153 "adding media/ tutorials for the framework"
I would like to add the media/tutorials gifs for the framework in this issue.

![web_server](https://user-images.githubusercontent.com/16983076/90797717-4b918a80-e311-11ea-8d88-9ba880a01f92.gif)

[2020-08-20 16:18] dhirensr commented on #153
![ssh_strong_password](https://user-images.githubusercontent.com/16983076/90797953-957a7080-e311-11ea-994b-12c99115a7f6.gif)

[2020-08-31 17:07] Ali-Razmjoo opened #157 "GitHub code scanning beta"
Hi,

I've granted access to github code scanning tools, it's still beta version but worth to try. https://github.com/zdresearch/OWASP-Honeypot/security/code-scanning

I will set it up later, maybe a good thing to check before release.

Regards.

[2020-09-05 14:39] Ali-Razmjoo opened #165 "bug in ics/veeder_root_guardian_ast_service module"
[code]

[2020-09-06 12:10] Ali-Razmjoo opened #167 "add all events count in webui"
it would be nice to add other types of events here.
![image](https://user-images.githubusercontent.com/7676267/92325403-b8638f00-f04a-11ea-9940-c320bea783fd.png)

[2020-09-07 09:43] ChakshuGupta opened #168 "Table sorting and search are not functional anymore"
The sort and search options stopped working after switching to server side pagination option. Need to fix this.

![image](https://user-images.githubusercontent.com/6474622/92373817-2f5a5f80-f0ff-11ea-9c42-4096ead12d19.png)

[2020-09-08 20:06] #165 closed

[2020-09-08 20:44] #167 closed

[2020-09-08 20:53] Ali-Razmjoo commented on #168
@ChakshuGupta can you take a look when you have time? I didn't figure out the issue (didn't find error, it just stopped working)

[2020-09-09 12:54] ChakshuGupta commented on #168
@Ali-Razmjoo Yeah sure.

[2020-09-13 14:49] #168 closed

[2020-09-13 15:56] #153 closed

[2020-09-14 11:32] aleixvaz opened #177 "ModuleNotFoundError: No module named 'terminable_thread'"
Hi,
When I tried to deploy the Honeypot with the following command _python3 ohp.py_ (default configuration), I got this error message:

[code]

Is there anything I'm missing?

[2020-09-14 11:39] dhirensr commented on #177
hello @aleixvaz ,
have you installed terminable_thread package?
you could just install all the necessary packages by,
[code]

[2020-09-14 11:48] aleixvaz commented on #177
Yes, I did. All of them were installed.

[2020-09-14 12:17] #177 closed

[2020-09-15 10:55] Ali-Razmjoo commented on #177
also make sure your pip and python is version 3+

[2020-09-24 10:51] dependabot-preview[bot] opened #180 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/zdresearch) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/zdresearch/update-logs/48597380).

[2020-09-25 10:36] Ali-Razmjoo commented on #180
I will have a look

[2020-09-26 18:24] #180 closed

[2021-01-12 04:48] itsdivyanshjain opened #216 "credential events are not been stored by following module"
#### module which are not storing credentials
- http/basic_auth_weak_password/
- ssh/weak_password

While using module `http/basic_auth_strong_password/` which works completely fine and storing credential events while above mentioned modules credential events are not stored.

[2021-01-12 10:49] ChakshuGupta commented on #216
Hi,

This is by design. The weak password modules are used to monitor hacker activities like what commands does the hacker perform after getting logged in easily. The strong password modules are used to monitor what does hacker provides as username/passwords to get into the system

[2021-01-12 10:49] #216 closed

[2021-01-13 04:16] itsdivyanshjain commented on #216
Thanks for commenting, I misinterpreted the wiki guidelines.

[2021-01-16 13:27] itsdivyanshjain opened #217 "Error while using ssh/strong_password module"
#### Error
while using a module named ssh/strong_password i got an error paramiko return non-zero code and docker image not found (mentioned in image).

p.s: All other modules are working properly.

cmd: `python ohp.py -m ssh/strong_password` (as root user)

![ssh](https://user-images.githubusercontent.com/45870070/104812686-fd35d880-5829-11eb-915d-0cb95bfdb33a.png)

[2021-01-18 21:15] dhirensr commented on #217
Hello @itsdivyanshjain ,
It seems there is a problem with this module. did you already have a look into that ?

[2021-01-20 05:54] itsdivyanshjain commented on #217
Hi @dhirensr, I look into that and try to install different packages (for testing) and that probably worked, but when I try to install paramiko package it shows again same error. I have less idea about what causing an error.

[2021-01-21 21:15] dhirensr commented on #217
@itsdivyanshjain  : I'll work on this issue and send a PR this week then :smile:

[2021-01-27 21:22] Ali-Razmjoo commented on #217
thanks for reporting this, in order to not face this issue, we will add versioning in our dependencies in the modules as well, this issue should be resolve by #223 please test and let us know if you facing this issue again.

[2021-01-27 21:23] Ali-Razmjoo opened #226 "add dependency versioning to our module dependencies"
to avoid bugs like #217, we need to add dependency versions in existing modules.

[2021-01-27 21:26] #217 closed

[2021-01-28 11:16] itsdivyanshjain opened #228 "credentials events not being stored while using ssh/strong_password module"
This module is now working completely fine but when i try to enter ssh credentials at `root@127.0.0.1` it's not get stored in database but when i enter ssh credentials at `root@172.x.x.x`  (when container forward an ip) events are stored in database.

p.s: Not sure but ssh not listening at 127.0.0.1 because it's not showing or asking to store any RSA fingerprint .

[2021-01-28 12:18] Ali-Razmjoo commented on #228
Hi, have you checked your configuration file? https://github.com/OWASP/Python-Honeypot/blob/master/config.py#L64-L80

also can you copy the configuration file you are using for me? your IP might be ignored if you are using the machine which docker is hosted on, you can disable and customize whitelisting.

Bests.

[2021-01-28 16:20] itsdivyanshjain commented on #228
Thanks for this insights @Ali-Razmjoo but the issue which I mentioned is affecting  only ssh module while I also tested module http/strong_password in which I can access 127.0.0.1 on my browser. Also, I think that if config is creating issues for me then it should affect all other modules.

Yes, I am using docker server and modules on same machine. My config file is set as default. Can you specify

[2021-01-29 10:35] Ali-Razmjoo commented on #228
I tested it on my machine with both `ignore_real_machine_ip_address`,  `ignore_virtual_machine_ip_addresses` set as false,

[code]

and as you can see i can could capture the password.

[code]

question,  when you try to connect to the IP via ssh, does it work like mine?

[2021-01-29 10:36] Ali-Razmjoo commented on #228
also forget to ask, what OS are you using? which version?

[2021-01-29 13:43] itsdivyanshjain commented on #228
python version: `3.9.1`
OS: `Backbox 7.1(Ubuntu 20.4)`

#### When I try to connect to IP via ssh our results are not same

These are following steps which I performed as root:

1. I set a config.py attribute `ignore_real_machine_ip_address`, `ignore_virtual_machine_ip_addresses` as False(which already i did before but I tried again)
#### config.py
[code]

2. Then run the api server using `docker-c

[2021-01-29 18:26] Ali-Razmjoo commented on #228
your first ssh result from 127.0.0.1 is YOUR OWN machine, as you can see you have an ssh port already listen on your port 22, so honeypot reserved your 0.0.0.0:23 instead!

* if you want to connect to ssh via 127.0.0.1 the command line is `ssh root@127.0.0.1 -p 23`.
* if you want to connect to docker ssh via port 22 on 127.0.0.1, you need to stop your current ssh service or change it to another po

[2021-01-30 05:39] itsdivyanshjain commented on #228
Thanks, your above solution helps me i stop the ssh service and then re run the whole program and it does connect on default port 127.0.0.1. As, When i stop the program there is Attribute Error which doesn't remove ssh service so when i rerun the program it select port 23.

[2021-01-30 16:14] Ali-Razmjoo commented on #228
if the PR solved your issue, let's close this thread.

[2021-01-30 16:42] itsdivyanshjain commented on #228
Sure

[2021-01-30 16:42] #228 closed

[2021-02-01 05:15] Siddhant-K-code commented on #226
how can we fix this?

[2021-02-02 18:05] Ali-Razmjoo commented on #226
recent PR fixed this.

[2021-02-02 18:05] #226 closed

[2021-02-10 14:08] mdomina opened #241 "bug in module http/basic_auth_strong_password"
when the module http/basic_auth_strong_password registers the credentials in the database it writes the date wrong and this generates an error when the APIs are called.
HTTP
{ "_id" : ObjectId("602311d500a1577e5e2fd86b"), "ip" : "192.168.1.3", "module_name" : "http/basic_auth_strong_password", "date" : "[09/Feb/2021:22:51:01 +0000]", "username" : "test", "password" : "tesrrere", "machine_name" : "

[2021-02-10 18:10] mdomina commented on #241
I solved.
edit file modules/http/basic_auth_strong_password/ __ init__.py

Row 4
Before:
import time

After:
import time, datetime

Row 40
Before:
time_of_insertion = data_json["time"]

After:
date_log = data_json["time"]
date = date_log[1:12]
time_of_insertion = date + ' ' + date_log[13:21]

[2021-02-16 14:05] Ali-Razmjoo opened #243 "CI is failing"
it seems we got a bug, need to check in them.

[2021-02-19 04:59] itsdivyanshjain opened #245 "requirements-apt-get issue"
As, we have added requirements file for apt package manager, but now when the packages get updated old package version not available which leads to fails to build an image. Currently this issue affecting the module `ssh/strong_password`.

I think we need to give priority to setup Dependbot for it.

[2021-02-19 05:30] itsdivyanshjain commented on #243
I have tested out file `docker-compose-host.yml` file with different version of `docker-compose` one is `1.27.4` and other is `1.28.4` and noticed that build fails only with version docker-compose `1.28` not with `1.27`

https://forums.docker.com/t/docker-errors-invalidargument-host-network-mode-is-incompatible-with-port-bindings/103492

Above link mentioned a solution in which it shows that not t

[2021-02-19 07:40] dhirensr commented on #241
@mdomina : can you send a PR for this? it's very difficult to understand the changes in plaintext.

[2021-02-19 13:14] mdomina commented on #241
https://github.com/OWASP/Python-Honeypot/pull/246

[2021-02-23 09:33] dhirensr commented on #243
Hello @itsdivyanshjain ,
from the link I understood,
"
Your container doesnt have to be on the “host” network in order to talk to the other clients on the network/internet.

But if you prefer to run network_mode: host, you can remove the “ports” part from the docker-compose.
Or if you prefer to use the docker network, remove the “network_mode:” part
"

from this I understood, we have to remove net

[2021-02-23 09:35] dhirensr commented on #245
@itsdivyanshjain : I didn't really understood the issue. If everything in requirements file was tested and package numbers were correct for the docker image of ubuntu:20.04, then why would the package suddenly become unavailable?
could you explain more briefly?

[2021-02-24 03:01] itsdivyanshjain commented on #243
Hey @dhirensr,

I think we prefer network_mode: host. so, i tried removing a port from docker-compose-host.yml and it works as well.

[2021-02-24 03:51] itsdivyanshjain commented on #245
Hello @dhirensr,

So, when packages get updated like in our case for module `ssh/strong_password` the package `libssl-dev=1.1.1f-1ubuntu2.1` updated to   `libssl-dev=1.1.1f-1ubuntu2.2`. Now our old package version is no longer available in apt-cache and we can install or rollback only if a version is available in apt-cache of that package.

cmd: `apt-cache showpkg package-name`

P.S: I don't know

[2021-03-10 11:17] ChakshuGupta commented on #243
@dhirensr for docker-compose-host file we need network_mode: host so that the API can access the database running on the host system.

@itsdivyanshjain  I agree with you. You can send a PR for this.

[2021-03-10 12:04] itsdivyanshjain commented on #243
@ChakshuGupta Sure.

[2021-03-31 17:07] Ali-Razmjoo commented on #243
fixed for now 👍

[2021-03-31 17:07] #243 closed

[2021-03-31 17:40] Ali-Razmjoo commented on #245
this is fixed now but it gonna have errors in feature when it's updated again, I am open to feedbacks if you know how to fix this?

[2021-05-19 13:58] spiderxm opened #281 "Shows Loading... when there are no records"
<img src="https://i.ibb.co/bXf3R0N/2.png"></image>

#### The WebUI shows loading when no records are returned from the api as there are no records in the database. It should rather show a message that indicates that no records are present.

I would like to work on this.

[2021-05-19 14:07] spiderxm commented on #281
It occur due to the following line
[code]
This gives error because the length of json['data'] array is 0 and we try to access the first element. This blocks the further code.

[2021-06-01 14:44] #281 closed

[2021-06-12 12:57] spiderxm opened #291 "Minor bug in all records count"
In elastic search by default there are some index present by default with some documents in it which increase overtime. So when we call the api for `all` events count it returns more than the actual events present.
![Screenshot 2021-06-12 at 6 20 43 PM](https://user-images.githubusercontent.com/53966291/121776533-0ba2d900-cbab-11eb-9bf1-339dba67e846.png)
Here `total events` are 94287 which is not

[2021-06-21 23:11] dhirensr opened #297 "Log explorer export doesn't exports all the records"
Hello @Ali-Razmjoo ,
In the log explorer UI if we filter the data, the table shows multiple pages in output, but when I click on export CSV,EXCEL ,it only gives me records present on that page and not from all the pages.

Is that behaviour expected or is it a bug and rather it should have exported all the data satisfying the filter in the UI?

[2021-06-22 06:19] Ali-Razmjoo commented on #297
Good point, maybe base on time and date we need to export all?

[2021-06-22 08:33] spiderxm commented on #297
@Ali-Razmjoo @dhirensr . This happens due to the use of pipelining as records are fetched in batch of 100.
When user clicks to export we can fetch all the matching records in one go. Convert them to matching format and then download.

[2021-06-22 10:15] dhirensr commented on #297
@spiderxm : thank you for checking into that. I think based on time and date filter we need to export all records in csv/excel/json and not only the first page of the table.
can you fix that?

[2021-06-22 10:22] spiderxm commented on #297
Yes, on it

[2021-06-25 07:17] Ayush7614 opened #300 "Added Issues Templates and more features in issue templates"
* We Have to add issue templates like Feature request,bug report etc.

[2021-07-05 11:37] spiderxm opened #310 "Adding docs"
Adding swagger ui and proper documentation for apis will be helpful in using apis

[2021-07-19 12:44] DTnavy opened #319 "problem with terminable thread"
raceback (most recent call last):
  File "/home/user/Desktop/test/Python-Honeypot/ohp.py", line 5, in <module>
    from core.load import load_honeypot_engine
  File "/home/user/Desktop/test/Python-Honeypot/core/load.py", line 11, in <module>
    from terminable_thread import Thread, threading
ModuleNotFoundError: No module named 'terminable_thread'

i got this when i want to run the ohp.py file us

[2021-07-20 16:55] #291 closed

[2021-07-21 06:41] spiderxm commented on #319
@DTnavy have you installed all the requirements present in `requirements.txt` file

[2021-07-23 11:13] Ali-Razmjoo commented on #319
@DTnavy  please feel free to reopen this later again if you face the issue after installing requirements.

[2021-07-23 11:13] #319 closed

[2021-07-28 22:35] #297 closed

[2021-07-28 22:36] #245 closed

[2021-07-28 22:36] Ali-Razmjoo commented on #241
let me know if you still facing the issue.

[2021-07-28 22:36] #241 closed

[2021-07-28 22:38] Ali-Razmjoo commented on #300
cc: @spiderxm please work on the PR and issue template; maybe use files in https://github.com/OWASP/Nettacker

[2021-07-29 08:09] #300 closed

[2021-08-18 12:58] #310 closed

[2021-10-10 11:32] Ali-Razmjoo opened #338 "verbose alert in CLI"
* need to add multi verbose alerts in our cli

[2021-10-28 16:42] spiderxm opened #340 "If port is being used already proper error handling is not present"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked to make sure that this issue has not already been filed

# Expected Behavior

Please describe the behavior you are expecting
Just a error message should be displayed.

# Current Behavior

What is the current behavior?
<img width="1440" alt="Screensh

[2021-10-28 21:25] #340 closed, assigned to nobody

[2022-01-14 12:43] K0zero opened #344 "a question of changing protocol"
I'm considering making a honeynet system for ICS, and I think the project you've done is great.
so I'd like to ask if honeypots support changing protocols for communicating with each other,
such like modbus( a Industrial control protocol )
and if honeypots can emulate a virtual industrial control PLC
thanks

[2022-01-24 03:54] K0zero commented on #319
well， i have installed the requirements and i restarted my vm machine but the error still had

[2022-01-24 03:57] K0zero opened #345 "problem with terminable thread"
I have installed all the requirements packeges but
it noticed
pip3 install -r requirements.txt ---> terminable-thread==0.7.1  not installed!
even i restarted machine the problem still have

[2022-01-24 08:05] ChakshuGupta commented on #345
Could you provide the exact commands executed, in the exact order, that gave this error?
Also the environment, i.e. the OS, python version, etc.

[2022-02-07 08:14] K0zero commented on #345
well, i have solved the problem but i forgot how i solved it, thanks for your attention!
:-)

[2022-02-07 08:14] #345 closed

[2022-02-10 15:17] Ali-Razmjoo commented on #344
Hi,

sorry for my late reply, I implemented the protocol myself manually and created the responses, if you have any guidelines on how to create modbus server, I can help you to create a new module for that.

Bests, Ali.

[2022-02-14 08:04] K0zero commented on #344
well, if this project can use customized modules with docker,
i can make a modbus sercver dockerfile from another project which called conpot.

[2022-03-16 03:43] spiderxm opened #346 "remove cyclic dependency"
There are some cyclic dependencies in the code which can be removed.

-[Link](https://github.com/OWASP/Python-Honeypot/blob/7f60ca9b2acc079c3e652fdc74df820f1d8e182f/core/compatible.py#L25)

[2022-03-16 03:44] spiderxm commented on #346
@dhirensr @Ali-Razmjoo assign me this issue. I would like to work on it.

[2022-04-06 12:49] kashmax opened #349 "Cannot connect to elasticsearch"
Hi,
I have followed the below steps.

Downloaded code from https://github.com/OWASP/Python-Honeypot.git
cd Python-Honeypot
docker-compose -f docker-compose-host.yml up
and
docker-compose

But throws this error. Thanks

root@Python-Honeypot-master# docker-compose up
Starting elasticsearch ... done
Starting python-honeypot-master_ohp_1 ... done
Starting grafana                      ... done
Attachin

[2022-06-28 04:18] spiderxm commented on #349
try to reduce the RAM allocated to elastic search from 4gb to 1gb in docker file

replace this
[code]
with
[code]
in docker-compose.yml

[2022-06-28 04:19] spiderxm opened #351 "Fix API URL"
Currently the API URL is hardcoded, it should be dynamic based on the port and host

[2022-06-30 03:38] spiderxm opened #354 "CI failing"
The CI is failing with the following errors
[code]
@dhirensr @Ali-Razmjoo do you have any idea regarding this

[2022-07-15 15:22] #346 closed

[2022-07-17 13:27] kashmax commented on #349
Yes even with the above new RAM allocation

docker-compose -f docker-compose-host.yml up

ohp_1  | [X] [2022-07-17 13:24:33] Cannot connect to elasticsearch
ohp_1  | python-honeypot_ohp_1 exited with code 1

[2022-07-17 13:27] kashmax commented on #349
Yes even with the above new RAM allocation

docker-compose -f docker-compose-host.yml up

ohp_1 | [X] [2022-07-17 13:24:33] Cannot connect to elasticsearch
ohp_1 | python-honeypot_ohp_1 exited with code 1

[2022-07-18 07:51] kashmax commented on #349
Hi,

docker-compose -f docker-compose.yml up

Still the same error.

`Starting elasticsearch ... done
Starting python-honeypot_ohp_1 ... done
Starting grafana               ... done
Attaching to elasticsearch, python-honeypot_ohp_1, grafana
grafana          | mkdir: cannot create directory '/var/lib/grafana/plugins': Permission denied
grafana          | GF_PATHS_DATA='/var/lib/grafana' is not writ

[2022-07-22 10:37] Ali-Razmjoo opened #359 "network thread issue"
two issues

1. network thread is not terminating after an error
to reproduce the issue, run a module, and then kill the container with `docker kill container_name`. OHP is expected to exit from working and throw an error, but the network thread stays open and it's not terminating.

2. when I press ctrl+c to terminate the module, pcap file is not submitted to the database.

[2022-07-22 10:38] Ali-Razmjoo commented on #354
merge master to your old branch, the bug is fixed now.

[2022-07-22 10:38] #354 closed

[2022-07-22 10:41] Ali-Razmjoo commented on #349
how much memory your machine has? it seems you having some memory issues.

```XX:+UseG1GC, -Djava.io.tmpdir=/tmp/elasticsearch-4171500607543486750, -XX:+HeapDumpOnOutOfMemoryError, -XX:HeapDumpPath=data, -XX:ErrorFile=logs/hs_err_pid%p.log, -```

[2022-07-22 10:41] #344 closed

[2022-07-22 10:59] spiderxm commented on #359
For this will need to add https://github.com/OWASP/Python-Honeypot/blob/4ea768922dbaf1b805bff7957115ea452a9384e9/core/load.py#L373-L376 code here to push the pcap files to Elasticsearch in case of interrupt

[2022-07-22 14:23] spiderxm commented on #354
What was the issue

[2022-07-22 23:09] kashmax commented on #349
Thanks for your reply
The memory I have increased to 12G

`root@ub-c2:/home/sk/Python-Honeypot# free -m
              total        used        free      shared  buff/cache   available
Mem:          11739         216       10917           1         606       11274
Swap:          4095           0        4095
root@ub-c2:/home/sk/Python-Honeypot#
`

[2022-08-01 16:30] spiderxm commented on #359
@Ali-Razmjoo, @dhirensr For issue 2, you must not have added the argument while running the containers.
[code]
Add `--store-pcap` while starting the network capture process.

[2022-08-12 18:29] spiderxm opened #362 "Error in ssh/strong_password module"
# There is a Hash Mismatch error while creating the ssh/strong_password module
[code]

[2022-08-12 18:32] spiderxm commented on #362
@dhirensr @Ali-Razmjoo
If we use
[code]
instead of
[code]
The error is resolved and it works fine

[2022-08-12 18:32] spiderxm commented on #362
Due to this the test case are failing.

[2022-08-13 16:00] spiderxm commented on #362
What say @dhirensr, how to solve this?

[2022-10-06 11:28] spankywetfish commented on #349
I've just had the same problem, it appears to have been primarily down to perms after install.
i.e.
`grafana | mkdir: cannot create directory '/var/lib/grafana/plugins': Permission denied`
and
`elasticsearch | "stacktrace": ["org.elasticsearch.bootstrap.StartupException: ElasticsearchException[failed to bind service]; nested: AccessDeniedException[/usr/share/elasticsearch/data/nodes];",`

The quic

[2022-10-24 01:54] #351 closed